<div class="sidebar">
    <h1>LibreNode</h1>
    <hr>
    <a href="/home">
        <div class="item {{ 'active' if page == 'home' else '' }}">
            <i class="bi bi-house"></i>
            <span>Home</span>
        </div>
    </a>
    <a href="/apps">
        <div class="item {{ 'active' if page == 'apps' else '' }}">
            <i class="bi bi-plugin"></i>
            <span>Integrations</span>
        </div>
    </a>
    <a href="/shop">
        <div class="item {{ 'active' if page == 'shop' else '' }}">
            <i class="bi bi-cart"></i>
            <span>Mods & Plugins</span>
        </div>
    </a>
    <a href="/console">
        <div class="item {{ 'active' if page == 'console' else '' }}">
            <i class="bi bi-terminal"></i>
            <span>Console</span>
        </div>
    </a>
    <a href="/files">
        <div class="item {{ 'active' if page == 'files' else '' }}">
            <i class="bi bi-file-earmark"></i>
            <span>Files & Backups</span>
        </div>
    </a>
    <span class="bottom"><a href="https://github.com/nsde/librenode">v0.1-ALPHA by ONLIX</a></span>
</div>