{% with title="Home" %}
    {% include "_top.html" %}
{% endwith %}

{% with page="home" %}
    {% include "_sidebar.html" %}
{% endwith %}

<main>
    <div class="alert">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <strong>Warning  ·</strong>
        LibreNode is currently in an experimental alpha state. Bugs can occur.
    </div>

    <h1>Home</h1>

    <p>Hello there!</p>

    <div class="panels">
        <div class="panel">
            <i class="bi bi-activity"></i>
            <span class="title">Online since</span>
            <span class="value">13 hours</span>
        </div>
        <div class="panel">
            <i class="bi bi-people"></i>
            <span class="title">Online right now</span>
            <span class="value">4 players</span>
        </div>
        <div class="panel">
            <i class="bi bi-cpu"></i>
            <span class="title">CPU usage</span>
            <span class="value">13%</span>
        </div>
        <div class="panel">
            <i class="bi bi-memory"></i>
            <span class="title">RAM usage</span>
            <span class="value">49%</span>
        </div>
    </div>
</main>

{% include "_end.html" %}