// Theme Colors
$text: #ffffff
$text-light: #ffffff96
$accent: #761bff
$accent-special: #6a32ed
$semi-transparent: #ffffff23
$text-accent: #c6a3f9
$bg: #1f1b3e
$bg-dark: #2b275f
$shadow: #000000b6
$input: #433d862a

// Other Colors
$red: #8d2020db
$yellow: #d5880bc5
$green: #158752c0
$blue: #1e3388e1
$grey: #403f3fc0

// Gradients

$gradient-accent: linear-gradient(90deg, #6b35fff9 0%, #6a32ed 48%, #5822d5ed 100%)
$gradient-special: linear-gradient(45deg, rgba(134,53,255,0.97) 0%, #2954ff 48%, rgba(118,27,255,0.92) 100%)
$gradient-green: linear-gradient(45deg, #117b2af9 0%, #25973eb8 48%, #369b24b8 100%)
$gradient-teal: linear-gradient(45deg, #117b67f9 0%, #259786b8 48%, #249b89b8 100%)
$gradient-yellow: linear-gradient(45deg, #7b5f11f9 0%, #8c5e13 48%, #b97d0eed 100%)
$gradient-red: linear-gradient(45deg, #7b1f11f9 0%, #8c1d13 48%, #b9280eed 100%)
$gradient-light: linear-gradient(45deg, #7e7638f9 0%, #afab42e1 48%, #9b8d24ed 100%)
$gradient-dark: linear-gradient(45deg, #2c253af9 0%, #1f1b3a 48%, #1c1839ed 100%)
$gradient-bg: linear-gradient(90deg, #00000000 0%, #00000000 90%, #1f1b3e 100%)

// Misc
$font-stack: system-ui
$sidebar-width: 16rem

html
    scroll-behavior: smooth
    font-family: $font-stack

*
    transition: 0.3s


body
    color: $text
    background-color: $bg
    margin: 0

a
    color: $text
    text-decoration: none

    &:hover
        text-decoration: underline

.sidebar
    height: 100%
    position: fixed
    z-index: 1337
    top: 0
    left: 0
    overflow-x: hidden
    width: $sidebar-width
    padding: 1rem
    background-color: $bg-dark
    box-shadow: 0px 0px 20px $bg-dark

    h1
        margin-top: 0
        margin-bottom: 0

    hr
        border: none
        height: 1px
        margin-top: 1rem
        margin-bottom: 1rem
        background: $text-light
        opacity: 0.4

    a:not(span.bottom a)
        text-decoration: none

    .item
        border-radius: 10px
        padding: 0.8rem
        opacity: 0.7

        i
            padding-right: 10px

        &.active
            background: $gradient-accent
            opacity: 1

        &:hover
            opacity: 1

    .bottom
        position: absolute
        bottom: 3rem

        a
            color: $text-light

main
    margin: 3rem

    &.has-sidebar
        margin-left: $sidebar-width
        padding-left: 5rem

    a
        color: $text-accent

    .auth
        min-height: 90vh
        padding: 2rem
        width: 500px
        margin:0 auto
        border-radius: 10px
        // height: 80vh
        background-color: $bg-dark
        box-shadow: 0 0px 5px $bg-dark

        h1
            text-align: center
            margin-top: 0

        button
            padding: 1rem

@media screen and (max-width: 1000px)
    div.panels, div.panels div.panel
        grid-template-columns: auto auto

@media screen and (max-width: 770px)
    div.sidebar
        width: 3rem

    .sidebar span, .sidebar h1, .sidebar .bottom, .sidebar hr
        display: none

    .sidebar .item i
        font-size: x-large

    main.has-sidebar
        margin-left: 3rem

    div.auth
        width: 400px


@media screen and (max-width: 570px)
    div.panels, div.panels div.panel
        display: block
        margin-bottom: 1rem

    div.action button
        margin-bottom: 1rem

    div.auth
        width: 350px

@media screen and (max-width: 460px)
    div.auth
        width: 250px

.alert
    width: fit-content
    padding: 1rem
    border-radius: 10px

.panels
    display: grid
    grid-auto-columns: 1fr
    grid-auto-flow: column
    grid-template-columns: auto auto auto auto
    gap: 1rem

    button
        background: none

    &.inactive .panel
        background: $grey

    &>a
        text-decoration: none

    .panel
        padding: 1rem
        padding-bottom: 2rem

        height: 5rem
        color: $text
        background: $gradient-accent
        border-radius: 15px

        i
            font-size: xx-large
        
        span.title
            display: block

        span.value
            font-size: x-large
            font-weight: 600
        
        &:hover
            cursor: pointer
            transform: scale(1.05)
            filter: brightness(1.2)

mark.dc
    color: white
    padding-left: 2px
    padding-right: 2px
    background-color: #ffffff18
    border-radius: 5px

input, button
    color: white
    border: none
    font-size: large
    padding: 0.5rem
    margin-top: 0.5rem
    background: $input
    border-radius: 10px

div.inline
    display: inline

    >*
        display: inline

fieldset
    width: fit-content
    border-radius: 10px
    margin-bottom: 1rem
    border: 1px solid $semi-transparent
    
    legend
        font-weight: bold
        padding-left: 5px
        padding-right: 5px
    
    span
        display: block        
        margin-top: 5px
        margin-bottom: 5px

button
    background: $gradient-accent

    &:hover
        opacity: 0.6
        cursor: pointer

.profile-pic
    border-radius: 50%
    height: 40px
    position: relative
    top: 10px
    margin-right: 10px

.actions
    display: inline

    .action
        display: inline

        button
            padding: 1rem
            margin-right: 1rem
            font-size: large
            font-weight: bold

.hero
    background-image: url('/static/assets/reef.png')
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover

    box-shadow: 0 10px 50px $shadow

    height: 100vh
    transition: 3s
    text-align: center

    .branding
        margin-top: 0
        opacity: 0.5
        font-weight: normal

    .hero-text
        font-size: 4rem

        mark
            color: white
            background-color: $accent

    button
        font-size: 3rem
        background: none

    &:hover
        filter: hue-rotate(60deg)

.party
    // border: 2px solid white
    background: $blue
    box-shadow: 0px 0px 20px $accent-special
    animation: gradient 2s linear infinite
    animation-direction: alternate

@keyframes gradient
    0%
        filter: hue-rotate(0deg)
    100%
        filter: hue-rotate(70deg)

div.alert a
    color: $text
    text-decoration: underline

select
    color: $text
    border: none
    font-size: large
    border-radius: 5px
    padding: 5px
    background-color: $input

input[type=checkbox]
    transform: scale(1.5)
    transition: 1

    &:hover
        opacity: 0.8
        cursor: pointer
    
    &:active
        opacity: 0.3
    
    &:checked
        box-shadow: 0 0 10px $blue
        filter: hue-rotate(35deg) saturate(2)
    
    &:not(:checked)
        filter: saturate(2)
        box-shadow: 0 0 5px $red

.fg-red
    color: $red !important
.fg-yellow
    color: $yellow !important
.fg-green
    color: $green !important
.fg-blue
    color: $blue !important
.fg-accent
    color: $text-accent !important

.bg-red
    background: $red !important
.bg-yellow
    background: $yellow !important
.bg-green
    background: $green !important
.bg-blue
    background: $blue !important

.gd-accent
    background: $gradient-accent !important
.gd-special
    background: $gradient-special !important
.gd-green
    background: $gradient-green !important
.gd-teal
    background: $gradient-teal !important
.gd-yellow
    background: $gradient-yellow !important
.gd-red
    background: $gradient-red !important
.gd-light
    background: $gradient-light !important
.gd-dark
    background: $gradient-dark !important
