html {
  scroll-behavior: smooth;
  font-family: system-ui;
}

* {
  transition: 0.3s;
}

body {
  color: #ffffff;
  background-color: #1f1b3e;
  margin: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.sidebar {
  height: 100%;
  position: fixed;
  z-index: 1337;
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 16rem;
  padding: 1rem;
  background-color: #2b275f;
  box-shadow: 0px 0px 20px #2b275f;
}
.sidebar h1 {
  margin-top: 0;
  margin-bottom: 0;
}
.sidebar hr {
  border: none;
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: rgba(255, 255, 255, 0.5882352941);
  opacity: 0.4;
}
.sidebar a:not(span.bottom a) {
  text-decoration: none;
}
.sidebar .item {
  border-radius: 10px;
  padding: 0.8rem;
  opacity: 0.7;
}
.sidebar .item i {
  padding-right: 10px;
}
.sidebar .item.active {
  background: linear-gradient(90deg, rgba(107, 53, 255, 0.9764705882) 0%, #6a32ed 48%, rgba(88, 34, 213, 0.9294117647) 100%);
  opacity: 1;
}
.sidebar .item:hover {
  opacity: 1;
}
.sidebar .bottom {
  position: absolute;
  bottom: 3rem;
}
.sidebar .bottom a {
  color: rgba(255, 255, 255, 0.5882352941);
}

main {
  margin: 3rem;
}
main.has-sidebar {
  margin-left: 16rem;
  padding-left: 5rem;
}
main a {
  color: #c6a3f9;
}
main .auth {
  min-height: 90vh;
  padding: 2rem;
  width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #2b275f;
  box-shadow: 0 0px 5px #2b275f;
}
main .auth h1 {
  text-align: center;
  margin-top: 0;
}
main .auth button {
  padding: 1rem;
}

@media screen and (max-width: 1000px) {
  div.panels, div.panels div.panel {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 770px) {
  div.sidebar {
    width: 3rem;
  }

  .sidebar span, .sidebar h1, .sidebar .bottom, .sidebar hr {
    display: none;
  }

  .sidebar .item i {
    font-size: x-large;
  }

  main.has-sidebar {
    margin-left: 3rem;
  }

  div.auth {
    width: 400px;
  }
}
@media screen and (max-width: 570px) {
  div.panels, div.panels div.panel {
    display: block;
    margin-bottom: 1rem;
  }

  div.action button {
    margin-bottom: 1rem;
  }

  div.auth {
    width: 350px;
  }
}
@media screen and (max-width: 460px) {
  div.auth {
    width: 250px;
  }
}
.alert {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  border-radius: 10px;
}

.panels {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
}
.panels button {
  background: none;
}
.panels.inactive .panel {
  background: rgba(64, 63, 63, 0.7529411765);
}
.panels > a {
  text-decoration: none;
}
.panels .panel {
  padding: 1rem;
  padding-bottom: 2rem;
  height: 5rem;
  color: #ffffff;
  background: linear-gradient(90deg, rgba(107, 53, 255, 0.9764705882) 0%, #6a32ed 48%, rgba(88, 34, 213, 0.9294117647) 100%);
  border-radius: 15px;
}
.panels .panel i {
  font-size: xx-large;
}
.panels .panel span.title {
  display: block;
}
.panels .panel span.value {
  font-size: x-large;
  font-weight: 600;
}
.panels .panel:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: brightness(1.2);
}

mark.dc {
  color: white;
  padding-left: 2px;
  padding-right: 2px;
  background-color: rgba(255, 255, 255, 0.0941176471);
  border-radius: 5px;
}

input, button {
  color: white;
  border: none;
  font-size: large;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background: rgba(67, 61, 134, 0.1647058824);
  border-radius: 10px;
}

div.inline {
  display: inline;
}
div.inline > * {
  display: inline;
}

fieldset {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.137254902);
}
fieldset legend {
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}
fieldset span {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

button {
  background: linear-gradient(90deg, rgba(107, 53, 255, 0.9764705882) 0%, #6a32ed 48%, rgba(88, 34, 213, 0.9294117647) 100%);
}
button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile-pic {
  border-radius: 50%;
  height: 40px;
  position: relative;
  top: 10px;
  margin-right: 10px;
}

.actions {
  display: inline;
}
.actions .action {
  display: inline;
}
.actions .action button {
  padding: 1rem;
  margin-right: 1rem;
  font-size: large;
  font-weight: bold;
}

.hero {
  background-image: url("/static/assets/reef.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.7137254902);
  height: 100vh;
  transition: 3s;
  text-align: center;
}
.hero .branding {
  margin-top: 0;
  opacity: 0.5;
  font-weight: normal;
}
.hero .hero-text {
  font-size: 4rem;
}
.hero .hero-text mark {
  color: white;
  background-color: #761bff;
}
.hero button {
  font-size: 3rem;
  background: none;
}
.hero:hover {
  filter: hue-rotate(60deg);
}

.party {
  background: rgba(30, 51, 136, 0.8823529412);
  box-shadow: 0px 0px 20px #6a32ed;
  -webkit-animation: gradient 2s linear infinite;
          animation: gradient 2s linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes gradient {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(70deg);
  }
}

@keyframes gradient {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(70deg);
  }
}
div.alert a {
  color: #ffffff;
  text-decoration: underline;
}

select {
  color: #ffffff;
  border: none;
  font-size: large;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(67, 61, 134, 0.1647058824);
}

input[type=checkbox] {
  transform: scale(1.5);
  transition: 1;
}
input[type=checkbox]:hover {
  opacity: 0.8;
  cursor: pointer;
}
input[type=checkbox]:active {
  opacity: 0.3;
}
input[type=checkbox]:checked {
  box-shadow: 0 0 10px rgba(30, 51, 136, 0.8823529412);
  filter: hue-rotate(35deg) saturate(2);
}
input[type=checkbox]:not(:checked) {
  filter: saturate(2);
  box-shadow: 0 0 5px rgba(141, 32, 32, 0.8588235294);
}

.fg-red {
  color: rgba(141, 32, 32, 0.8588235294) !important;
}

.fg-yellow {
  color: rgba(213, 136, 11, 0.7725490196) !important;
}

.fg-green {
  color: rgba(21, 135, 82, 0.7529411765) !important;
}

.fg-blue {
  color: rgba(30, 51, 136, 0.8823529412) !important;
}

.fg-accent {
  color: #c6a3f9 !important;
}

.bg-red {
  background: rgba(141, 32, 32, 0.8588235294) !important;
}

.bg-yellow {
  background: rgba(213, 136, 11, 0.7725490196) !important;
}

.bg-green {
  background: rgba(21, 135, 82, 0.7529411765) !important;
}

.bg-blue {
  background: rgba(30, 51, 136, 0.8823529412) !important;
}

.gd-accent {
  background: linear-gradient(90deg, rgba(107, 53, 255, 0.9764705882) 0%, #6a32ed 48%, rgba(88, 34, 213, 0.9294117647) 100%) !important;
}

.gd-special {
  background: linear-gradient(45deg, rgba(134, 53, 255, 0.97) 0%, #2954ff 48%, rgba(118, 27, 255, 0.92) 100%) !important;
}

.gd-green {
  background: linear-gradient(45deg, rgba(17, 123, 42, 0.9764705882) 0%, rgba(37, 151, 62, 0.7215686275) 48%, rgba(54, 155, 36, 0.7215686275) 100%) !important;
}

.gd-teal {
  background: linear-gradient(45deg, rgba(17, 123, 103, 0.9764705882) 0%, rgba(37, 151, 134, 0.7215686275) 48%, rgba(36, 155, 137, 0.7215686275) 100%) !important;
}

.gd-yellow {
  background: linear-gradient(45deg, rgba(123, 95, 17, 0.9764705882) 0%, #8c5e13 48%, rgba(185, 125, 14, 0.9294117647) 100%) !important;
}

.gd-red {
  background: linear-gradient(45deg, rgba(123, 31, 17, 0.9764705882) 0%, #8c1d13 48%, rgba(185, 40, 14, 0.9294117647) 100%) !important;
}

.gd-light {
  background: linear-gradient(45deg, rgba(126, 118, 56, 0.9764705882) 0%, rgba(175, 171, 66, 0.8823529412) 48%, rgba(155, 141, 36, 0.9294117647) 100%) !important;
}

.gd-dark {
  background: linear-gradient(45deg, rgba(44, 37, 58, 0.9764705882) 0%, #1f1b3a 48%, rgba(28, 24, 57, 0.9294117647) 100%) !important;
}/*# sourceMappingURL=base.css.map */