{% with title="Home" %}
    {% include "components/top.html" %}
{% endwith %}

{% with page="home" %}
    {% include "components/sidebar.html" %}
{% endwith %}

<main class="has-sidebar">
    <div class="alert bg-yellow">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <strong>Warning ·</strong>
        LibreNode is currently under heavy development. Bugs are expected.
    </div>

    <h1>Home</h1>

    <h2>Actions</h2>
    <div class="actions">
        <div class="action">
            <a href="/server/start">
                <button class="bg-green">
                    <i class="bi bi-play-fill"></i>
                    Start
                </button></a>
        </div>
        <div class="action">
            <a href="/server/stop">
                <button class="bg-yellow">
                    <i class="bi bi-stop-circle-fill"></i>
                    Shutdown
                </button></a>
            </div>
        <div class="action">
            <a href="/server/reset">
                <button class="bg-red">
                    <i class="bi bi-globe"></i>
                    Reset worlds
                </button>
            </a>
        </div>
        <div class="action">
            <a href="/server/clear">
                <button class="bg-blue">
                    <i class="bi bi-trash-fill"></i>
                    Clear logs
                </button></a>
        </div>
    </div>

    <h2>Status</h2>
    <h3>Minecraft</h3>
    
    <div class="panels">
        <div class="panel gd-red">
            <i class="bi bi-people-fill"></i>
            <span class="title">Players</span>
            <span class="value">0</span>
        </div>
        <div class="panel gd-green">
            <i class="bi bi-file-earmark-plus"></i>
            <span class="title">Mods/Plugins</span>
            <span class="value">0</span>
        </div>
        <div class="panel gd-blue">
            <i class="bi bi-box"></i>
            <span class="title">Server Type</span>
            <span class="value">Purpur</span>
        </div>
        <div class="panel gd-dark">
            <i class="bi bi-sunrise"></i>
            <span class="title">Game time</span>
            <span class="value">Night</span>
        </div>
    </div>

    <h3>Hardware</h3>

    <div class="panels active">
        <div class="panel gd-green">
            <i class="bi bi-activity"></i>
            <span class="title">Last boot</span>
            <span class="value">{{ stats_hardware.boot_days }} days</span>
        </div>
        <div class="panel gd-green">
            <i class="bi bi-device-ssd-fill"></i>
            <span class="title">SSD</span>
            <span class="value">{{ stats_hardware.disk }}</span>
        </div>
        <div class="panel gd-green">
            <i class="bi bi-cpu"></i>
            <span class="title">CPU usage</span>
            <span class="value">{{ stats_hardware.cpu }}%</span>
        </div>
        <div class="panel gd-green">
            <i class="bi bi-memory"></i>
            <span class="title">RAM usage</span>
            <span class="value">{{ stats_hardware.ram }}</span>
        </div>
    </div>
</main>

{% include "components/end.html" %}