{% with title="Node Setup" %}
    {% include "components/top.html" %}
{% endwith %}

{% with page="setup" %}
    {% include "components/sidebar.html" %}
{% endwith %}

<main class="has-sidebar">
    <div class="alert bg-yellow">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <strong>Notice ·</strong>
        By creating a new server node, you hereby accept Minecraft's <a href="https://www.minecraft.net/en-us/eula">End User License Agreement (EULA)</a>! 
    </div>

    <h1>Create a new node</h1>
    <h2>Configure node settings</h2>
    
    <form action="setup" method="post">
        <div class="inline fields">
            <fieldset>
                <legend>Name</legend>
                <input name="name" placeholder="PvP Project" required>
                <span>Choose a descriptive name for your node.</span>
            </fieldset>
            <fieldset>
                <legend>Max Player Count</legend>
                <input name="max-players" placeholder="20" value="20">
                <span>How many players are allowed to play at once.</span>
            </fieldset>
            <fieldset>
                <legend>Allow PvP</legend>
                <input type="checkbox" name="pvp" checked>
                <span>If players are allowed to fight each other.</span>
            </fieldset>
            <fieldset>
                <legend>Difficulty</legend>
                <select name="difficulty">
                <option value="peaceful">Peaceful</option>
                <option value="easy">Easy</option>
                <option value="normal">Normal</option>
                <option value="hard">Hard</option>
                <option value="hardcore">Hardcore
                </select>     
                <span>See <a href="https://minecraft.fandom.com/wiki/Difficulty">here</a> to learn more.</span>
            </fieldset>
            <fieldset>
                <legend>Anti X-Ray</legend>
                <input type="checkbox" name="anti-xray" checked>
                <span><a href="https://docs.papermc.io/paper/anti-xray">This</a> will make it more difficult for cheaters to use X-Ray.</span>
            </fieldset>
            <fieldset>
                <legend>Seed</legend>
                <input name="seed" placeholder="217293847239847" value="">
                <span>Leave this empty to pick a random <a href="https://minecraft.fandom.com/wiki/Seed_(level_generation)">seed</a>.</span>
            </fieldset>
            <fieldset>
                <legend>Port</legend>
                <input name="port" placeholder="25565" value="25565">
                <span>Don't change this unless you know <a href="https://wikiless.org/wiki/Port_(computer_networking)">what it does</a>!</span>
            </fieldset>
        </div>
        
        <h2>Choose a Minecraft server software</h2>
        
        <div class="panels">
            <button type="submit" formaction="/setup/purpur">
                <div class="panel gd-accent">
                    <span class="value">Purpur 1.19</span>
                    <span class="title">
                        <i class="bi bi-check"></i> Plugins
                        <i class="bi bi-x"></i> Mods
                        <i class="bi bi-check"></i> Datapacks
                    </span>
                </div>
            </button>
            <button type="submit" formaction="/setup/fabric">
                <div class="panel gd-light">
                    <span class="value">Fabric 1.16.5</span>
                    <span class="title">
                        <i class="bi bi-x"></i> Plugins
                        <i class="bi bi-check"></i> Mods
                        <i class="bi bi-check"></i> Datapacks
                    </span>
                </div>
            </button>
            <button type="submit" formaction="/setup/forge">
                <div class="panel gd-yellow">
                    <span class="value">Forge 1.12.2</span>
                    <span class="title">
                        <i class="bi bi-x"></i> Plugins
                        <i class="bi bi-check"></i> Mods
                        <i class="bi bi-x"></i> Datapacks
                    </span>
                </div>
            </button>
            <button type="submit" formaction="/setup/paper">
            <div class="panel gd-teal">
                <span class="value">Paper 1.8.8</span>
                <span class="title">
                    <i class="bi bi-check"></i> Plugins
                        <i class="bi bi-x"></i> Mods
                        <i class="bi bi-x"></i> Datapacks
                    </span>
                </div>
            </button>
        </div>
    </form>

    <h2>FAQ</h2>
    <h3>Why isn't there a "vanilla" option?</h3>
    <p>
        The answer is simple: there are just not a lot of reasons for it. Alternatives such as Paper and Purpur not only improve
        performance drastically, but also add new options and support for plugins.
        <br>
        Players don't need to install anything additionally to join servers which support plugins.
    </p>
    
    <h3>Why should I always use the latest Minecraft version?</h3>
    <p>
        One of the most important reasons is security. Older versions of Minecraft aren't supported and can lead to
        security vulnerabilities and other problems. Want the 1.8 PvP experience? Well, several mods and plugins can simulate exactly that.
        For example, using <i>LabyMod</i> can provide for more or less the same PvP experience as in 1.8.
    </p>

    <h3>Plugins & Mods - what's the difference?</h3>
    <p>
        Plugins don't need to be installed on the client (on the computers of the players) - but they have some drawbacks.
        For example, plugins can't really add new textures, sounds, or 3D models. Sometimes, workarounds are used, like player
        heads as mini-blocks or similar. Plugins <i>can</i>, in fact, add commands, gameplay changes and more.
        <br>
        You <i>should</i> use mods though when you want to play with completely new features, such as new monsters, blocks, items, and more.
    </p>
    
    <h3>How can I install & use datapacks?</h3>
    <p>
        Datapacks can be installed on all Minecraft servers with version 1.13 (17w43a) and above.
        Also, datapack support is a feature by Minecraft, not by its modded server software such as Fabric, Forge, Purpur, Paper and more.
        <br>
        Moreover, Datapacks don't need to be installed on clients (the computers of the players), just on the server.
        <br>
        <a href="https://minecraft.fandom.com/wiki/Data_pack"><button>Learn more</button></a>
    </p>

</main>

{% include "components/end.html" %}