{% with title="Mods & Plugins" %}
{% include "components/top.html" %}
{% endwith %}

{% with page="shop" %}
{% include "components/sidebar.html" %}
{% endwith %}

<main class="has-sidebar">
    <div class="gallery">
        <a href="">
            <div class="item">
                <div class="title">
                    <img src="https://cdn.modrinth.com/data/Bta0Pt47/icon.png">
                    <h3>Beenfo <mark><i class="bi bi-download"></i> 5659</mark></h3>
                </div>
                <p>Show number of bees and honey level in hives and nests</p>
            </div>
        </a>
    </div>
</main>

{% include "components/end.html" %}