{% with title="Login" %}
    {% include "components/top.html" %}
{% endwith %}

<main class="dark">
    <div class="auth">
        <h1><i class="bi bi-box-arrow-in-right"></i> Log in</h1>
        <p>To verify that have access to the panel, you'll need to quickly log in.</p>
        
        <div class="alert bg-green">
            <span class="info"><i class="bi bi-shield-check"></i>
                This <strong>won't give us your password</strong>!</span>
                This just gives the program access to your profile picture/banner, username as well as your email address (because usernames can change).
                We'll not share this information with anyone else (not even other ONLIX services) and we'll only use it for technical purposes.
            </span>
        </div>

        <p>By using <i>LibreNode</i>, you accept the <a href="https://onlix.me/legal">terms of service and privacy policy</a>.</p>
    
        <a href="{{ login_url }}"><button class="bg-blue"><i class="bi bi-discord"></i> Connect to Discord</button></a>
    </div>
</main>

{% include "components/end.html" %}